{#param name=total value=0}

<table summary="Completed order" id="complete_order_form">
	<thead id="orderhead">
		<tr>
			<th>Previews ID</th>
			<th>Quantity</th>
			<th>Title</th>
			<th>Price</th>
			<th>Publisher</th>
			<th>Comments</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	
	<tbody id="orderbody">
		{#foreach $T as row}
			{#param name=total value=$P.total + ( ( $T.row.price * 100) * $T.row.quantity )}
			<tr id="row_{$T.row.previews}" class="orderrow">
				<td>{$T.row.previews}</td>
				<td><input type="text" class="spinner" value="{$T.row.quantity}" width="5"/></td>
				<td>{$T.row.title}</td>
				<td>&pound;{$T.row.price}</td>
				<td>{$T.row.publisher}</td>
				<td><input type="text" value="{$T.row.comment}"/></td>
				<td><input type="button" id="id_{$T.row.previews}" class="delete_from_order" value="Delete"/></td>
			<tr>
		{#/for}
	</tbody>
	
	<tfoot id="orderfoot">
		<tr>
			<td colspan="2">&nbsp;</td>
			<td colspan="1"><b>Total</b></td>
			<td colspan="1" >&pound;<span id="ordertotal">{$P.total / 100}</span></td>
			<td colspan="3">&nbsp;</td>
		</tr>
	</tfoot>
</table>

<form id="exportorder" action="export.php" method="post" target="_blank">
	<input type="hidden" name="encodeddata" id="encodeddata" value=""/>
	<input type="button" value="submit" id="submitorder"/>
</form>